prune .devcontainer
prune .github
prune benchmarks
prune docs
prune examples
prune scripts
exclude lychee.toml
exclude .*
include .cibuildwheel.toml
include src/msgspec/msgspec.h
include src/msgspec/_testcapi.c
